# This workflow will install Deno then run Deno lint and test.
# For more information see: https://github.com/denoland/setup-deno

name: Deno

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        deno-version: [vx.x.x, canary]

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno ${{ matrix.deno-version }}
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A --unstable

      - name: Check license headers
        run: |
          deno run -A --no-check https://deno.land/x/anzu@1.0.0/src/cli.ts \
           -i ./ "/.+\.ts/" \
           -e "deps.ts" \
           -l "// Copyright 2021 Im-Beast. All rights reserved. MIT license." \
           -p

      - name: Push changes
        continue-on-error: true
        run: |
          git config user.name Github Actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "chore: Prepend missing license headers"
          git push
